*
Assets
!.gitignore
!Packages
!Packages/EventsShowcase
!Packages/EventsShowcase/*
!Packages/EventsShowcase/*/*
!Packages/EventsShowcase/*/*/*
!Packages/EventsShowcase/*/*/*/*
!Packages/EventsShowcase/*/*/*/*/*
*.meta