*
Assets
!.gitignore
!Package
!Package/EventsShowcase
!Package/EventsShowcase/*
!Package/EventsShowcase/*/*
!Package/EventsShowcase/*/*/*
!Package/EventsShowcase/*/*/*/*
!Package/EventsShowcase/*/*/*/*/*
*.meta